body {
	margin: auto;
	width: 600px;
	background-color: #CCC;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content {
	background-color: white;
	padding: 50px;
}

h1 {
	font-size: 2em;
}